.contenedor {
font-family: Arial, Helvetica, sans-serif;
color: rgb(20, 20, 20);
padding-left: 10%;
padding-right: 10%;
font-size: 43px;
justify-content: center;
}
label{
    font-size: 25px;
    margin-bottom: 5px;
    display: block;
}
input{
width: 100%;
    padding: 10px;
border-radius: 6px;
margin-bottom: 20px;
font-size: 16px;
}
button{
    background-color: rgb(37, 177, 37);
    color: white;
    padding: 12px 18px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #159c45;
}

#Elresultadoes {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10%;
}
